# This is an example environment file.
# To run the project, rename this file to ".env" and fill in your actual API keys.

# Your secret token from Telegram's BotFather
TELEGRAM_BOT_TOKEN="YOUR_TELEGRAM_BOT_TOKEN_HERE"

# Your secret API key. I used Gemini's API key
GEMINI_API_KEY="YOUR_GEMINI_API_KEY_HERE"